/**
 * description: 基本字体定义
 * create time: 2006-8-2 16:25:17
 * @version $Id: basefont.css 4 2012-07-18 06:40:23Z liqt $
 * @author LiQintao(leeqintao@gmail.com)
 */
body,p,ul,li,td{
	font-family:Tahoma, Helvetica, Arial, sans-serif, '宋体';
	font-size:12px/1.5;
	line-height:150%;
	color:#000;
}

p{
	text-indent:24px;
	margin-top:0;
	margin-bottom:0;
	}
td{text-align:left;}
h1{
	font-size:14px;
	font-weight:bold;
	margin:0;
	}
h2{
	font-size:12px;
	font-weight:bold;
	margin:0;
	}
img {border:0;}
form {
	margin:0;
	padding:0;
}